#sidebar-box {
  #sidebar {
    margin-bottom: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  #sidebar-header {
    display: none;
  }

  #sidebar,
  #sidebar-header {
    transition-property: background-color, min-width !important;
    transition-duration: var(--ltw-transition-duration),
      var(--uc-autohide-transition-duration) !important;
    transition-timing-function: var(--ltw-transition-type),
      var(--uc-autohide-transition-type) !important;
  }

  .sidebar-panel,
  .sidebar-panel #search-box {
    transition-property: background-color, color !important;
    transition-duration: var(--ltw-transition-duration) !important;
    transition-timing-function: var(--lwt-transition-type) !important;
  }

  #navigator-toolbox {
    transition-property: border-color !important;
    transition-duration: var(--ltw-transition-duration) !important;
    transition-timing-function: var(--lwt-transition-type) !important;
  }

  --uc-sidebar-width: 20px !important;
  --uc-autohide-transition-duration: 200ms;
  --uc-autohide-transition-type: ease-in-out;
  --uc-tweak-rounded-corners-padding: 2px;
  --uc-tweak-rounded-corners-radius: 6px;
  --uc-sidebar-hover-width: 300px !important;

  transition-property: min-width, width, max-width, background-color, margin !important;
  transition-duration: var(--ltw-transition-duration) !important;
  transition-timing-function: var(--lwt-transition-type) !important;

  opacity: 0%;

  margin-right: calc(var(--uc-sidebar-width) * -1) !important;

  &::before {
    display: none !important;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: transparent;

    height: 16px !important;
    width: 65px;
    border-top-left-radius: 0;
    box-shadow: -5px 0 0 0 var(--lwt-accent-color);

    top: 0;
    left: 0 !important;

    transition-property: background-color, left, border-radius !important;
    transition-duration: var(--ltw-transition-duration), var(--uc-autohide-transition-duration) !important;
    transition-timing-function: var(--ltw-transition-type), var(--uc-autohide-transition-type) !important;
    pointer-events: none;

    z-index: -1;

    &:hover {
      border-top-left-radius: var(--uc-tweak-rounded-corners-radius);
    }
  }
}

#main-window[titlepreface*="|| "] #sidebar-box {
  margin-right: 0 !important;

}

#main-window[titlepreface*="|| "] #sidebar-box::after,
#sidebar-box:hover::after {
  border-top-left-radius: var(--uc-tweak-rounded-corners-radius) !important;
}

#main-window[titlepreface*="|| "] #sidebar-box {
  --uc-sidebar-width: var(--uc-sidebar-hover-width) !important;

  &::after {
    left: var(--uc-sidebar-hover-width) !important;
  }
}

#sidebar-box:hover::after {
  left: calc(var(--uc-sidebar-hover-width) - 8px) !important;
}

#main-window[titlepreface*="|| "] :is(#sidebar-box) {
  &:not([positionend]) {
    margin-inline-end: 0 !important;
  }

  &[positionend] {
    margin-inline-start: 0 !important;
  }
}
