/* only use file if one of these sidebar tab management extensions is in use. */
/* selectors copied from https://github.com/KiKaraage/ArcWTF/blob/main/tweaks/sidebar.css */
/* Sidebery */
#main-window:not([customizing]):has(#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:not([hidden])),
/* Tree Style Tab */
#main-window:not([customizing]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])),
/* Tab Center Reborn */
#main-window:not([customizing]):has(#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"]:not([hidden])) {
  --sidebar-width: var(--sidebar-min-width);
  --sidebar-min-width: 50px;
  --sidebar-ext-width: 300px;
  --sidebar-transition-duration: 0.2s;
  --sidebar-transition-type: ease-out;
  --sidebar-transition-delay: 0.2s;

  #TabsToolbar {
    display: none;
  }

  #browser {
    position: relative;
  }

  #sidebar-header #sidebar-close {
    display: none;
  }

  /* remove to keep the sidebar header visible */
  #sidebar-header {
    display: none;
  }

  #sidebar {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }

  #sidebar-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: var(
      --lwt-accent-color,
      --gnome-menu-background
    ) !important;
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    transition-property: position, background-color, min-width, max-width, width !important;
    transition-duration: 0.1s, var(--lwt-transition-duration),
      var(--sidebar-transition-duration) !important;
    transition-timing-function: linear, var(--lwt-transition-type),
      var(--sidebar-transition-type) !important;
    transition-delay: 0ms, 0ms, var(--sidebar-transition-delay),
      var(--sidebar-transition-delay), var(--sidebar-transition-delay);

    &::after {
      content: "";
      position: fixed;
      top: 47px;
      left: var(--sidebar-width);
      pointer-events: none;
      z-index: 1;
      height: 12px;
      width: 12px;
      border-top-left-radius: 6px;
      box-shadow: -5px 0 0 0 var(--lwt-accent-color);
      transition-property: box-shadow, border-radius, left, right !important;
      transition-duration: var(--lwt-transition-duration),
        var(--sidebar-transition-duration) !important;
      transition-timing-function: var(--lwt-transition-type),
        var(--sidebar-transition-type) !important;
      transition-delay: var(--sidebar-transition-delay);
    }

    &[positionend]:not(:-moz-locale-dir(rtl)),
    &:not([positionend]):-moz-locale-dir(rtl) {
      &,
      &::after {
        left: unset;
        right: var(--sidebar-width);
        border-top-left-radius: 0;
        border-top-right-radius: var(--border-radius);
        box-shadow: 5px 0 0 0 var(--lwt-accent-color);
      }
    }

    &:not([positionend]):hover {
      /* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */
      /* from https://github.com/KiKaraage/ArcWTF/blob/main/tweaks/sidebar.css */
      ~ #appcontent #statuspanel,
      ~ #tabbrowser-tabbox #statuspanel {
        inset-inline: auto 0px !important;
      }

      ~ #appcontent #statuspanel-label,
      ~ #tabbrowser-tabbox #statuspanel-label {
        margin-inline: 0px !important;
        border-left-style: solid !important;
      }
    }
  }

  #nav-bar {
    --toolbar-start-end-padding: 2px;
  }

  #browser > #appcontent,
  #browser > #tabbrowser-tabbox {
    transition: margin var(--sidebar-transition-duration)
      var(--sidebar-transition-type);
    margin-left: -1px;
  }

  &:has(#sidebar-box:hover),
  &[titlepreface*="​"] {
    --sidebar-width: var(--sidebar-ext-width) !important;
  }

  &:not([sizemode="fullscreen"]) #browser > #appcontent,
  &:not([sizemode="fullscreen"]) #browser > #tabbrowser-tabbox {
    margin-left: calc(var(--sidebar-min-width) - 1px);
  }

  &:not([sizemode="fullscreen"]):has(
      #sidebar-box:is(
          [positionend]:not(:-moz-locale-dir(rtl)),
          :not([positionend]):-moz-locale-dir(rtl)
        )
    ):is(#browser > #appcontent, #browser > #tabbrowser-tabbox) {
    margin-left: 0;
    margin-right: calc(var(--sidebar-min-width) - 1px);
  }

  &[titlepreface*="​"] #sidebar-box,
  &:not([titlepreface*="​"]) #sidebar-box:hover {
    --sidebar-width: var(--sidebar-ext-width) !important;
    --sidebar-min-width: var(--sidebar-ext-width) !important;
  }

  &[titlepreface*="​"] #sidebar-box {
    transition-delay: 0ms;

    &::after {
      transition-delay: 0ms;
    }
  }

  &[sizemode="fullscreen"] #sidebar-box {
    --sidebar-width: 0 !important;
    --sidebar-min-width: 0 !important;

    transition-delay: 0ms;

    &::after {
      display: none;
    }
  }
}
