/* CSS to add below gnome theme's CSS */
/* make sure you combine both files in a seperate file and minify it using an online minifier like https://lightningcss.dev/, otherwise the combined size of the two documents will exceed the maximum size available to the extension */

/* transition between colors provided by lwt */
:root {
  --tablist-separator: currentColor;
  --tab-active-background: var(--tab-hover-background);
}

body,
#topmenu,
#filterbox-input::placeholder,
.tab-drag-overlay,
.tab-loading-burst,
.tab-context,
#pinnedtablist,
.tab-icon-overlay,
#tablist-wrapper::after,
#tablist-wrapper #moretabs,
.tab .tab-pin,
.tab-close,
#filterbox-icon,
#newtab-icon,
#settings-icon,
#bottomshadow,
#topshadow,
.topmenu-button {
  transition: none 0.2s ease-out;
  transition-property: background-color, color, border-color, fill, opacity,
    box-shadow;
}

/* seperators */
#pinnedtablist.compact:not(:empty) {
  border-bottom: none;
}

#pinnedtablist.compact:not(:empty)::after,
#tablist-wrapper::after {
  margin-top: 6px;
  border: 1px solid;
  border-width: 1px 0 0;
  opacity: 0.25;
  width: 100%;
}

/* use gnome icons & styling for buttons */
.tab .tab-close,
.tab .tab-icon-overlay-audible,
.tab .tab-icon-overlay-muted {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  padding: 4px;
  right: 4px;
  border-radius: 100%;
  background-image: none !important;
  background-color: transparent;
  box-shadow: none;
  border: none;
  scale: 0.75;
  transform-origin: left;

  &:hover {
    background-color: var(--tab-hover-background);
  }

  &::after {
    content: "";
    display: inline-block;
    background-image: none !important;
    height: 16px;
    width: 16px;
    background-color: currentColor;
    transition-property: background-color, filter;
  }

  &.tab-close {
    scale: 1;
  }
}

.tab .tab-close::after {
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNNCA0aDEuMDRjLjI1LjAxLjUuMTMuNjguMzFsMi4yOSAyLjI4IDIuMy0yLjI4Yy4yNy0uMjMuNDYtLjMuNy0uMzFoMXYxYzAgLjI5LS4wNC41NS0uMjUuNzVMOS40NyA4LjAzbDIuMjUgMi4yNWMuMi4xOS4yOS40NS4yOS43MnYxaC0xYy0uMjcgMC0uNTMtLjEtLjcyLS4yOEw4IDkuNDRsLTIuMjkgMi4yOEEuOTguOTggMCAwMTUgMTJINHYtMWExIDEgMCAwMS4yOC0uNzJsMi4yOC0yLjI1LTIuMjgtMi4yOEEuOS45IDAgMDE0IDV6Ii8+PC9zdmc+");
}

.tab .tab-icon-overlay-audible::after {
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTEuNDYgMmEuODIuODIgMCAwMC0uNjIuMjRMOC44NiA0LjIxdjEuMjJoMS4xOWwxLjk3LTEuOTdjLjM1LS4zNS4zMS0uOS4wMy0xLjJhLjg4Ljg4IDAgMDAtLjU5LS4yNnpNOCAyLjg2Yy0uMjUgMC0uNS4xMS0uNjYuM0w1IDUuNDNIMy43MUExLjcgMS43IDAgMDAyIDcuMTR2MS43MmMwIC45My43OCAxLjcxIDEuNzEgMS43MUg1bDIuMzQgMi4yNmEuOC44IDAgMDAuNjYuMzF6bS44NiA0LjI4djEuNzJoNC4yOGMuNjUgMCAuODYtLjQzLjg2LS44NnMtLjIxLS44Ni0uODYtLjg2em0wIDMuNDN2MS4yMmwxLjk5IDEuOTZjLjM0LjM2LjkxLjMgMS4yMS0uMDJhLjg3Ljg3IDAgMDAtLjAzLTEuMTlsLTEuOTgtMS45N3ptMCAwIi8+PC9zdmc+");
}

.tab .tab-icon-overlay-muted::after {
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgNC4yMyA0LjIzIj48cGF0aCBkPSJNLjY3LjM5TC4zOS42N2wzLjE3IDMuMTcuMjgtLjI4LTEuMi0xLjJWLjUzYS4yNy4yNyAwIDAwLS4yLjFsLS43Mi43SDEuNnptLjE2IDEuMjVhLjU0LjU0IDAgMDAtLjA0LjIxdi41M2MwIC4yOS4yNC41My41My41M2guNGwuNzIuN2MuMDYuMDcuMTMuMS4yLjF2LS4yNXptMCAwIi8+PC9zdmc+");
}

/* keep action buttons from being clickable in the docked state */
@media (max-width: 64px) {
  .tab-close,
  .tab-pin,
  .tab-icon-overlay {
    pointer-events: none;
  }
}

.tab {
  transition: box-shadow 0.1s ease, height 0.05s linear,
    background-color 0.2s ease-out !important;

  /* align inactive tab styling with regular tabs */
  .tab-meta-image,
  .tab-title {
    opacity: 1 !important;
  }
}

/* transition the title masking on hover */
#tablist-wrapper {
  .tab {
    > .tab-title-wrapper {
      --max-w-reduct: 74px;
      mask-image: linear-gradient(270deg, transparent 0, #000 2em) !important;
      transition: max-width 0.2s ease;
      margin-right: auto;
      max-width: calc(100% - var(--max-w-reduct));
    }

    &:hover {
      & > .tab-title-wrapper {
        --max-w-reduct: 108px;
      }

      .tab-close {
        transition-delay: 0s, 0.1s;
      }
    }
  }

  &.shrinked .tab {
    > .tab-title-wrapper {
      --max-w-reduct: 36px;
    }

    &:hover > .tab-title-wrapper {
      --max-w-reduct: 68px;
    }
  }
}

/* make newtab fit the rest of the buttons */
#topmenu {
  height: 46px;
}

#newtab {
  margin-left: 2px;
  padding-left: 10px;
  width: calc(100% - 2px);
  height: 36px;
}

/* wider gaps between tabs */
#pinnedtablist,
#tablist {
  gap: 4px;
}

#tablist .tab {
  &:nth-child(2) {
    margin-top: -4px;
  }

  &:nth-last-child(2) {
    margin-bottom: -4px;
  }
}

/* pinned tab list styling */
#pinnedtablist {
  &.compact .tab {
    min-width: 0;
    width: unset;
    max-width: unset;

    & > .tab-title-wrapper {
      display: flex;
    }

    & > .tab-meta-image {
      margin-left: 6px !important;
    }
  }

  &:not(:empty) {
    border-bottom: none;
    margin-bottom: 6px;

    &::after {
      content: "";
      margin-top: 2px !important;
    }
  }
}

#tablist-wrapper {
  #pinnedtablist .tab {
    .tab-close {
      display: none !important;
    }

    > .tab-title-wrapper {
      --max-w-reduct: 74px !important;
    }
  }

  &.shrinked #pinnedtablist .tab > .tab-title-wrapper {
    --max-w-reduct: 36px !important;
  }
}
