@media screen and (-moz-bool-pref: "gnomeTheme.extensions.tabCenterReborn") {
    #sidebar,
    #sidebar-box {
    background-color: var(--gnome-toolbar-background) !important;
  }

  @media (not(-moz-bool-pref: "gnomeTheme.extensions.tabCenterReborn.alwaysOpen")) {
    #main-window[titlepreface*="​"] {
      #sidebar-box[sidebarcommand*="tabcenter"] #sidebar,
      #sidebar-box[sidebarcommand*="tabcenter"] {
        min-width: 10vw !important;
        width: 30vw !important;
        max-width: 250px !important;
        z-index: 1 !important;
        transition: all var(--transition-time) ease var(--delay);
      }

      #sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {
        position: relative;
        margin-right: -50px;
      }

      @media (width >= 1200px) {
        #sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
        #sidebar-box[sidebarcommand*="tabcenter"]:hover {
          max-width: 250px !important;
        }
      }

      @media (width >= 2000px) {
        #sidebar-box[sidebarcommand*="tabcenter"]:hover #sidebar,
        #sidebar-box[sidebarcommand*="tabcenter"]:hover {
          max-width: 400px !important;
        }
      }
    }
  }
}
