@import url("popup-search.css");
@import url("sidebar.css");

:root {
  --toolbarbutton-icon-fill: var(--lwt-text-color) !important;
  --gnome-toolbar-icon-fill: var(--lwt-text-color) !important;
  --gnome-window-color: var(--lwt-text-color) !important;
  --gnome-menu-background: var(--lwt-accent-color) !important;
  --gnome-toolbar-background: var(--lwt-accent-color) !important;
  --gnome-toolbar-border-color: var(--lwt-accent-color) !important;
  --gnome-accent-bg: var(--lwt-accent-color) !important;
  --gnome-selection-bg: color-mix(
    in hsl longer hue,
    var(--lwt-text-color) 20%,
    transparent
  ) !important;

  --gnome-tabbar-tab-active-background: var(--gnome-selection-bg) !important;
  --gnome-tabbar-tab-hover-background: var(--gnome-selection-bg) !important;
  --gnome-tabbar-tab-active-hover-background: color-mix(
    in hsl longer hue,
    var(--lwt-text-color) 30%,
    transparent
  ) !important;

  --lwt-transition-duration: 0.2s;
  --lwt-transition-type: ease-in-out;
}

* {
  font-family: "Inter Variable", "Inter" !important;
  color: --lwt-tab-text !important;
}

/* change usersettings extension icon */
:is(
    .webextension-browser-action,
    .eom-addon-button
  )[data-extensionid="userchrome-toggle@joolee.nl"]
  .toolbarbutton-icon {
  list-style-image: url("../theme/icons/toggle-sidebar-symbolic.svg") !important;
}

#main-window[positionend]:not(:-moz-locale-dir(rtl)),
#main-window:not([positionend]):-moz-locale-dir(rtl) {
  :is(
      .webextension-browser-action,
      .eom-addon-button
    )[data-extensionid="userchrome-toggle@joolee.nl"] {
    list-style-image: url("../theme/icons/toggle-right-sidebar-symbolic.svg") !important;
  }
}

.toolbarbutton-icon {
  transition-property: opacity !important;
  transition-duration: var(--lwt-transition-duration) !important;
  transition-timing-function: var(--lwt-transition-type) !important;
}

#navigator-toolbox {
  transition-property: background-color, border-color !important;
  transition-duration: var(--lwt-transition-duration) !important;
  transition-timing-function: var(--lwt-transition-type) !important;
}

#TabsToolbar {
  .tab-content::before {
    display: none !important;
  }
}

#nav-bar,
#nav-bar .urlbarView-body-outer,
.toolbar-items {
  background: unset !important;
  background-color: var(
    --lwt-accent-color,
    --gnome-headerbar-background
  ) !important;
  transition: background-color var(--lwt-transition-duration)
    var(--lwt-transition-type) !important;
}

#urlbar {
  .urlbar-page-action:not([hidden]) {
    display: grid;
    place-items: center;
  }

  .search-one-offs {
    display: none !important;
  }

  :is(#translations-button, #shopping-sidebar-button, #reader-mode-button) {
    display: none !important;
  }
}
