@import "popup-search.css";
@import "tab-center-reborn-overrides.css";
@import "userchrome-toggle.css";

:root {
  --toolbarbutton-icon-fill: var(--lwt-text-color) !important;
  --gnome-toolbar-icon-fill: var(--lwt-text-color) !important;
  --gnome-window-color: var(--lwt-text-color) !important;
  --gnome-menu-background: var(--lwt-accent-color) !important;
  --gnome-toolbar-background: var(--lwt-accent-color) !important;
  --gnome-toolbar-border-color: var(--lwt-accent-color) !important;
  --gnome-accent-bg: var(--lwt-accent-color) !important;
  --gnome-selection-bg: color-mix(
    in hsl longer hue,
    var(--lwt-text-color) 20%,
    transparent
  ) !important;
  --gnome-window-background: var(--lwt-accent-color) !important;

  --gnome-tabbar-tab-active-background: var(--gnome-selection-bg) !important;
  --gnome-tabbar-tab-hover-background: var(--gnome-selection-bg) !important;
  --gnome-tabbar-tab-active-hover-background: color-mix(
    in hsl longer hue,
    var(--lwt-text-color) 30%,
    transparent
  ) !important;

  --lwt-transition-duration: 0.2s;
  --lwt-transition-type: ease-out;
}

* {
  font-family: "Inter Variable", "Inter" !important;
  color: --lwt-tab-text !important;
}

/* change usersettings extension icon */
#navigator-toolbox {
  --toolbar-start-end-padding: 1px;
}

.toolbarbutton-icon {
  transition-property: opacity !important;
  transition-duration: var(--lwt-transition-duration) !important;
  transition-timing-function: var(--lwt-transition-type) !important;
}

#navigator-toolbox {
  transition-property: background-color, border-color !important;
  transition-duration: var(--lwt-transition-duration) !important;
  transition-timing-function: var(--lwt-transition-type) !important;
}

#TabsToolbar {
  .tab-content::before {
    display: none !important;
  }
}

#nav-bar,
#nav-bar .urlbarView-body-outer,
.toolbar-items {
  background: unset !important;
  background-color: var(
    --lwt-accent-color,
    --gnome-headerbar-background
  ) !important;
  transition: background-color var(--lwt-transition-duration)
    var(--lwt-transition-type) !important;
}

#urlbar {
  .urlbar-page-action:not([hidden]) {
    display: grid;
    place-items: center;
  }

  .search-one-offs {
    display: none !important;
  }

  :is(#translations-button, #shopping-sidebar-button, #reader-mode-button) {
    display: none !important;
  }
}

tab.tabbrowser-tab {
  &:not([pinned]) {
    transition-property: opacity, min-width, max-width !important;
    transition-duration: 0.1s, 0.2s !important;
    transition-timing-function: ease-out !important;
    overflow: hidden;

    &:not([fadein]) {
      visibility: visible !important;
      max-width: 0 !important;
      min-width: 0 !important;
      opacity: 0 !important;
    }

    @starting-style {
      max-width: 0 !important;
      min-width: 0 !important;
      opacity: 0 !important;
    }
  }
}

#alltabs-button {
  transition-property: background, max-width, margin, padding !important;
  transition-duration: 0.2s !important;
  transition-delay: 0.2s !important;
  transition-timing-function: ease;
  visibility: visible !important;
  max-width: 34px;
  overflow-x: hidden;
}

#tabbrowser-tabs:not([overflow]) ~ #alltabs-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 0 !important;
}
