@media (-moz-bool-pref: "gnomeTheme.hideSingleTab") and (-moz-bool-pref: "sidebar.verticalTabs") {
  #sidebar-main:has([expanded]) {
    tab,
    tab ~ toolbarbutton,
    tab ~ #tabbrowser-arrowscrollbox-periphery,
    #alltabs-button {
      visibility: visible !important;
    }
  }

  #sidebar-main:not(
      :has(tab:not([hidden="true"]) ~ tab:not([hidden="true"]))
    ):not(:has([expanded])) {
    max-width: 0 !important;
  }

  #browser:not(:has(tab:not([hidden="true"]) ~ tab:not([hidden="true"]))):not(
      #sidebar-main:has([expanded])
    )
    #tabbrowser-tabpanels {
    border-top-left-radius: 0px !important;
  }

  #main-window:has(#nav-bar #new-tab-button) {
    #sidebar-main {
      #tabs-newtab-button {
        visibility: hidden;
      }
    }
  }
}

#sidebar-main:not(:has([expanded])) {
  --tab-collapsed-width: 46px;
  --tab-inner-inline-margin: 6px;

  .tab-close-button {
    visibility: hidden;
  }
}